[Desktop Entry]
Name=Daily Prayer Timer
Comment=Prayer times, Qibla, Tasbih, Duas, Ramadan tracker
Exec=/usr/bin/dailyprayertimer
Icon=dailyprayertimer
Terminal=false
Type=Application
Categories=Utility;Religion;Spirituality;
StartupNotify=true
